.game-screen {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  padding: 2em;
  border-radius: 2em;
  box-sizing: border-box;
}
.item {
  display: inline;
}
.rocket, .choices {
  width: auto;
  height: 50%;
}
.hide {
  opacity: 0;
  pointer-events: none;
}