body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(16,44,166);
    background: radial-gradient(circle, rgba(16,44,166,1) 0%, rgba(77,5,119,1) 100%);
}

.mainColumnFlex {
    display: flex;
    flex-direction: column;
    margin: 5em;
    border-radius: 2em;
    background-color: rgba(245, 245, 245, 0.404);
}

.firstRowFlex {
    display: flex;
    align-items:center;
    justify-content: center;
}

.columnFlex {
    display: flex;
    flex-direction: column;
}

.rocketIMG {
    height: 20em;
}
.robotIMG {
    height: 15em;
}

.textBubbleIMG {
    height: 10em;
    width: 100%;
}

.textbubble {
    height: 10em;
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icons {
    height: 4em;
    margin: 1.5em;
}