:root {
  --light-background: rgba(245, 245, 245, 0.404);
}

.item {
  width: 10em;
  height: 2em;
  text-align: center;
  border: 1px solid black;
  display: inline-block;
}

.game-screen {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  padding: 2em;
  border-radius: 2em;
  box-sizing: border-box;
  background: var(--light-background);
}

.rocket, .choices {
  width: 20em;
  height: 20em;
  text-align: center;
  border: 1px solid black;
}

.friend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.friend-text {
  padding: 1em;
}

.comment {
  position: absolute;
  display: flex;
  top: 20%;
  left: 20%;
  width: 60%;
  min-height: 60%;
  padding: 2em;
  border-radius: 2em;
  box-sizing: border-box;
  background: var(--light-background);
}

.comment-robot {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 100%;
}

.comment-robot-text-container {
  height: 10em;
  position: relative;
  text-align: center;
  flex-basis: 25%;
}

.comment-robot-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em 2em;
}

.comment-robot-image {
  width: 15em;
  flex-basis: 75%;
}

.comment-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2em;
}

.comment-input {
  font-size: 1rem;
}

.comment-button {
  padding: 0.25em 0.5em;
  margin: 1em;
  font-size: 1.5rem;
  height: 4rem;
  outline: none;
  border: 0.1em black solid;
  cursor: pointer;
}
.comment-button:hover {
  color: white;
  background: black;
}


.hide {
  opacity: 0;
  pointer-events: none;
}